body{
    background-color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#title{
    color:white;
    text-align: left;
    font-size: 2.5em;
    background-color: rgb(54, 53, 53);
}

.team{
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(54, 53, 53);
}

#standings{
    transform-origin: top;
    font-size: 20px;
    border-color: white;
    border-width: 0;
    border-spacing: 0;
    background-color: white;
    color: white;
}

.rows{
    background-color: rgb(54, 53, 53);
    height: 41px;
    vertical-align: middle;
}

.team:hover{
    background-color: rgb(94, 93, 93);
}

.points{
    background-color: rgb(37, 37, 37);
}

#container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#left{
    flex: 1;

    height: 89vh;
}

#centre{
    font-size:16px;
    flex: 1;

    align-items: center;
    text-align: center;
    height: 89vh;
    overflow: scroll;
}
#centre::-webkit-scrollbar{
    display: none;
}
#right{
    font-size: 16px;
    flex: 1;

    align-items: center;
    text-align: center;
    height: 89vh;
    overflow: scroll;
}
#right::-webkit-scrollbar{
    display: none;
}

hr{
    background-color: rgb(54, 53, 53);
    margin-top: 20px;
}

img{
    vertical-align:middle;
}

.teams{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.homeTeam{
    flex: 1;
    padding-left: 15px;
}
.awayTeam{
    flex: 1;
    padding-right: 15px;
}
.timeOrScore{
    flex: 1;
}

