body{
    background-color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    text-align: center;
    font-size: 2.5em;
}

.team{
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(54, 53, 53);
}

#standings{
    font-size: 16px;
    border-color: white;
    border-width: 0;
    border-spacing: 0;
    background-color: white;
    color: white;
}

.rows{
    background-color: rgb(54, 53, 53);
    height: 40px;
    vertical-align: middle;
}

.points{
    background-color: rgb(37, 37, 37);
}

/* doesnt do anything
#left{
    text-align: left;
    color: whitesmoke;
    background-color: rgb(80, 80, 80);
}
*/

#centre{
    text-align: center;
}
#right{
    text-align: right;
}